/* 
    Author     : Ążej
*/
.root {
    -fx-background-color: #212121;
}

.sudoku-grid {
    -fx-background-color: #424242;
    -fx-padding: 10;
    -fx-hgap: 2; 
    -fx-vgap: 2;
}

.sudoku-field {
    -fx-background-color: #303030;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-alignment: center;
    -fx-background-radius: 5; 
    -fx-border-color: transparent;
}

.sudoku-field:hover {
    -fx-background-color: #505050; 
}

.sudoku-field-fixed {
    -fx-text-fill: #ffffff; 
    -fx-font-weight: bold;
    -fx-background-color: #2a2a2a;
}
.border-right {
    -fx-border-color: transparent #808080 transparent transparent; 
    -fx-border-width: 0 2px 0 0;
}

.border-bottom {
    -fx-border-color: transparent transparent #808080 transparent;
    -fx-border-width: 0 0 2px 0;
}

.border-right-bottom {
    -fx-border-color: transparent #808080 #808080 transparent;
    -fx-border-width: 0 2px 2px 0;
}

/* podświetlenie wiersza i kolumny*/
.highlight-cross {
    -fx-background-color: #383838; /* Nieco jaśniejsze od tła */
}

/* Podświetlenie tej samej cyfry */
.highlight-same {
    -fx-background-color: #1e3a40; 
    -fx-border-color: #00bcd4;     
    -fx-border-width: 2px;
}

/* Pasek na górze aplikacji */
.top-bar {
    -fx-padding: 10 20 10 20;
    -fx-background-color: #2b2b2b;
    -fx-border-color: transparent transparent #555 transparent;
    -fx-border-width: 1px;
}

/* Styl licznika czasu */
.timer-label {
    -fx-text-fill: #00e5ff; /* Neonowy niebieski */
    -fx-font-size: 24px;
    -fx-font-family: "Courier New", monospace; /* Czcionka jak w zegarku */
    -fx-font-weight: bold;
}

/* Styl licznika błędów (bazowy) */
.mistakes-label {
    -fx-text-fill: #e0e0e0;
    -fx-font-size: 18px;
}

/* Styl błędów, gdy jest ich dużo (czerwony) */
.mistakes-danger {
    -fx-text-fill: #ff4444;
    -fx-font-weight: bold;
}